// https://www.jsdelivr.com/package/npm/modern-normalize
@import url('modern-normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

body {
  // FIXME: Corrigir isso
  max-width: 360px;
  margin: auto;
  border: 1px solid black;
}

header {
  height: 3.5rem;
  background: #12495B;
  display: flex;
  align-items: center;
  padding: 0 1.875rem;
  column-gap: 1rem;

  .header__icon path {
    fill: white;
  }

  .header__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
}

.periodo-gh {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 1.875rem;
  box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.25);

  .periodo-gh__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .periodo-gh__periodo {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.1em;
    }
  }

  .periodo-gh__calendario {
    display: flex;
    justify-content: space-between;
    padding: 0 1.875rem;

    .periodo-gh__item {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;

      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.25rem;

      &--active {
        color: #0083A2;
      }
    }
  }
}

.horario {
  margin: 1rem 0;
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .horario__item__espaco-horarios {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: block;
      height: 0.625rem;
      width: 0.625rem;
      background: #FF9D28;
      border-radius: 50%;
    }

    &::after {
      flex: 1;
      content: '';
      display: block;
      height: 0.125rem;
      background: #FF9D28;
    }
  }

  .horario__item {
    display: flex;
    column-gap: 0.5rem;

    .horario__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .horario__icon__circulo-inicio {

      }

      .horario__icon__linha {
        flex: 1;
        width: 0.125rem;
        background: #71C7DB;
      }

      .horario__icon__circulo-fim {

      }
    }

    .horario__inicio-fim {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 1rem;

      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }

    .horario__card {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      background: #71C7DB;
      border-radius: 0.5rem;

      .horario__card__local {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #626262;
      }

      .horario__card__turma {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        color: #000000;
      }

      .horario__card__disciplina {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: #000000;
      }
    }

    &--tarde {
      $variant-color1: #1F9FC9;
      .horario__icon {
        position: relative;

        // FIXME: OUTRA ABORDAGEM
        &::before,
        &::after {
          content: '';
          display: block;
          height: 0.625rem;
          width: 0.625rem;
          border-radius: 50%;
        }

        &::before {
          border: 0.125rem solid $variant-color1;
        }

        &::after {
          background: $variant-color1;
        }
        //

        .horario__icon__linha__aula-ocorrendo {
          // TODO: Para melhora mapear o intervalo é necessário javascript
          --percentual-aula: 50%;
          position: absolute;
          top: var(--percentual-aula, 0%);
          left: 0;
          transform: translateY(-50%);
          height: 0.625rem;
          width: 0.625rem;
          border-radius: 50%;
          background: #FF9D28;
        }


        .horario__icon__circulo-inicio circle {
          stroke: $variant-color1;
        }

        .horario__icon__linha {
          background: $variant-color1;
        }

        .horario__icon__circulo-fim circle {
          stroke: $variant-color1;
          fill: $variant-color1;
        }
      }

      .horario__card {
        background: $variant-color1;
      }
    }

    &--noite {
      $variant-color2: #005B63;
      .horario__icon {
        .horario__icon__circulo-inicio circle {
          stroke: $variant-color2;
        }

        .horario__icon__linha {
          background: $variant-color2;
        }

        .horario__icon__circulo-fim circle {
          stroke: $variant-color2;
          fill: $variant-color2;
        }
      }

      .horario__card {
        background: $variant-color2;

        .horario__card__local {
          color: #C4C4C4;
        }

        .horario__card__turma {
          color: #FFFFFF;
        }

        .horario__card__disciplina {
          color: #FFFFFF;
        }
      }
    }
  }
}
