@import url("modern-normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
body {
  max-width: 360px;
  margin: auto;
  border: 1px solid black;
}

header {
  height: 3.5rem;
  background: #12495B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.875rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

header .header__icon path {
  fill: white;
}

header .header__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.periodo-gh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 1.875rem;
  -webkit-box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.25);
}

.periodo-gh .periodo-gh__botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.periodo-gh .periodo-gh__botoes .periodo-gh__periodo {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.periodo-gh .periodo-gh__calendario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.875rem;
}

.periodo-gh .periodo-gh__calendario .periodo-gh__item {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.25rem;
}

.periodo-gh .periodo-gh__calendario .periodo-gh__item--active {
  color: #0083A2;
}

.horario {
  margin: 1rem 0;
  padding: 0 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.horario .horario__item__espaco-horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horario .horario__item__espaco-horarios::before {
  content: '';
  display: block;
  height: 0.625rem;
  width: 0.625rem;
  background: #FF9D28;
  border-radius: 50%;
}

.horario .horario__item__espaco-horarios::after {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  content: '';
  display: block;
  height: 0.125rem;
  background: #FF9D28;
}

.horario .horario__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.horario .horario__item .horario__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horario .horario__item .horario__icon .horario__icon__linha {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0.125rem;
  background: #71C7DB;
}

.horario .horario__item .horario__inicio-fim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.horario .horario__item .horario__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  background: #71C7DB;
  border-radius: 0.5rem;
}

.horario .horario__item .horario__card .horario__card__local {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #626262;
}

.horario .horario__item .horario__card .horario__card__turma {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.horario .horario__item .horario__card .horario__card__disciplina {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #000000;
}

.horario .horario__item--tarde .horario__icon {
  position: relative;
}

.horario .horario__item--tarde .horario__icon::before, .horario .horario__item--tarde .horario__icon::after {
  content: '';
  display: block;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
}

.horario .horario__item--tarde .horario__icon::before {
  border: 0.125rem solid #1F9FC9;
}

.horario .horario__item--tarde .horario__icon::after {
  background: #1F9FC9;
}

.horario .horario__item--tarde .horario__icon .horario__icon__linha__aula-ocorrendo {
  --percentual-aula: 50%;
  position: absolute;
  top: var(--percentual-aula, 0%);
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  background: #FF9D28;
}

.horario .horario__item--tarde .horario__icon .horario__icon__circulo-inicio circle {
  stroke: #1F9FC9;
}

.horario .horario__item--tarde .horario__icon .horario__icon__linha {
  background: #1F9FC9;
}

.horario .horario__item--tarde .horario__icon .horario__icon__circulo-fim circle {
  stroke: #1F9FC9;
  fill: #1F9FC9;
}

.horario .horario__item--tarde .horario__card {
  background: #1F9FC9;
}

.horario .horario__item--noite .horario__icon .horario__icon__circulo-inicio circle {
  stroke: #005B63;
}

.horario .horario__item--noite .horario__icon .horario__icon__linha {
  background: #005B63;
}

.horario .horario__item--noite .horario__icon .horario__icon__circulo-fim circle {
  stroke: #005B63;
  fill: #005B63;
}

.horario .horario__item--noite .horario__card {
  background: #005B63;
}

.horario .horario__item--noite .horario__card .horario__card__local {
  color: #C4C4C4;
}

.horario .horario__item--noite .horario__card .horario__card__turma {
  color: #FFFFFF;
}

.horario .horario__item--noite .horario__card .horario__card__disciplina {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */